<div class="full-post-wrapper">
    <div class="img-container">
        <img class="post-img" src="https://pp.userapi.com/c850724/v850724292/2619c/R4pihaNZYmY.jpg"/>
    </div>
    <div class="full-post-container">
        {{> Post}}
    </div>
</div>