<div class="full-post-wrapper">
    <img class="post-img" src="https://pp.userapi.com/c849032/v849032522/9ae13/a6HlFDeo5yg.jpg"/>
    <div class="full-post-container">
        {{> Post}}
    </div>
</div>