:root[theme="light"] {
  --header-color: #000;
  --main-color: #f5f5f5;
  --post-color: #fff;
  --post-rgba-color: 255, 255, 255;
  --header-font-color: #fff;
  --header-font-hover-color: hsla(0, 0%, 100%, .7);
  --pm-color: #fff;
  --pm-active-item-color: rgba(0, 0, 0, .1);
  --pm-modal-color: rgba(71, 74, 81, 0.5);
  --pm-element-wrapper-color: rgba(0, 0, 0, .1);
  --footer-font-color: #fff;
  --footer-link-color: hsla(0, 0%, 100%, .6);
  --carousel-dots-color: #ebebeb;
  --carousel-arrows-color: #000;
  --carousel-active-dot-color: #b8b8b8;
  --carousel-outline-color: #b0b2b1;
  --footer-color: #000;
  --post-font-color: #000;
  --share-bar-color: #ebebeb;
  --share-bar-hover-color: #828282;
}