.share-wrapper {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  .share-trigger-container {
    display: flex;
    flex-direction: row-reverse;
    &:hover .svg-share {
      fill: #828282;
    }
  }
  .share-btn {
    display: flex;
    width: auto;
    height: 35px;
    padding: 0;
    background: #fff;
    align-items: center;
  }

  .svg-share {
    height: 25px;
    width: 25px;
    padding-bottom: 6px;
    fill: #ebebeb;
    transition: fill .2s ease-in-out;
  }

  .icon-svg-share {
    fill: #ebebeb;
    fill-rule: nonzero;
    fill-opacity: 1;
  }

  .background-svg-share {
    fill: #ffffff;
    fill-opacity: 1;
    fill-rule: nonzero;
    vector-effect: non-scaling-stroke;
  }

  .text-share {
    display: flex;
    align-items: center;
    margin-right: 7px;
    padding-bottom: 6px;
    color: #ebebeb;
    font-family: Playfair Display Regular, serif;
    font-size: 13.5px;
    letter-spacing: .07em;
    transition: color .2s ease-in-out;
  }

  .share-popup-menu {
    position: absolute;
    top: 0;
    right: 100%;
    width: 185px;
    transition: display 1s ease-in-out;

  }

  .share-itms .at-share-btn {
    outline: none;
  }
  share-menu[active] + .text-share {
    display: none;
  }

  share-menu[active] .svg-share{
    fill: #828282;
  }
}
