.share-trigger {
  .share-btn {
    width: auto;
    height: 35px;
    padding: 0;
    background: #fff;
    display: flex;
    align-items: center;
  }

  .svg-share {
    height: 25px;
    width: 25px;
    fill: #ebebeb;
    transition: fill .2s ease-in-out;
  }

  .text-share {
    margin-right: 7px;
    color: #ebebeb;
    font-family: Playfair Display Regular, serif;
    font-size: 13.5px;
    letter-spacing: .07em;
    transition: color .2s ease-in-out;
  }

  .hide-text-share {
    visibility: hidden;
  }

  .open-share-trigger-svg {
    fill: rgb(102, 102, 102);
  }
}

.share-trigger {
  visibility: hidden;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.share-popup-menu {
  position: absolute;
  right: 50px;
  bottom: 7px;
}

.post:hover .share-trigger {
  visibility: visible;
}

.open-share-trigger {
  visibility: visible;
}

.share-itms .at-share-btn {
  outline: none;
}

.share-container:hover .svg-share {
  fill: #b7b7b7;
}

.share-container:hover .text-share {
  color: #b7b7b7;
}

