<div class="full-post-wrapper">
    <div class="img-container">
        <img class="post-img" src="{{var1.img}}"/>
    </div>
    <div class="full-post-container">
        {{{include 'post'}}}
        <div class="post-line"></div>
        <ul class="group-nav-btn">
            <li>
                <div class="prev-btn">Назад</div>
            </li>
            <li class="paging-separator">|</li>
            <li>
                <div class="next-btn">Вперед</div>
            </li>
        </ul>
    </div>
</div>