<div class="carousel-wrapper">
    <input type="radio" checked="checked" id="slide1" class="carousel-selector" name="carousel-selector"/>
    <input type="radio" id="slide2" class="carousel-selector" name="carousel-selector"/>
    <input type="radio" id="slide3" class="carousel-selector" name="carousel-selector"/>

    <ul class="carousel-items">
        <li class="carousel-item carousel-post">
            <h1 class="post-title">Title1</h1>
            <div class="parent-post-text">
                <p class="post-text">
                    1
                    TypeScript starts from the same syntax and semantics that millions
                    of JavaScript developers know today. Use existing JavaScript code,
                    incorporate popular JavaScript libraries, and call TypeScript code from JavaScript.

                    TypeScript compiles to clean,
                    simple JavaScript code which runs on any browser,
                    in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                    Types enable JavaScript developers to use highly-productive development tools
                    and practices like static checking and code refactoring when developing JavaScript applications.
                </p>
            </div>

            <label for="slide2" class="arrow arrow-next-slide"><img class="carousel-img-arrow" src="https://ru.seaicons.com/wp-content/uploads/2015/10/Arrow-Forward-2-icon.png"/></label>
        </li>

        <li class="carousel-item carousel-post">
            <h1 class="post-title">Title1</h1>
            <div class="parent-post-text">
                <p class="post-text">
                    2
                    TypeScript compiles to clean,
                    simple JavaScript code which runs on any browser,
                    in Node.js, or in any JavaScript engine that supports ECMAScript 3 (or newer).
                    Types enable JavaScript developers to use highly-productive development tools
                    and practices like static checking and code refactoring when developing JavaScript applications.
                </p>
            </div>
            <label for="slide1" class="arrow arrow-previous-slide"><img class="carousel-img-arrow" src="https://ru.seaicons.com/wp-content/uploads/2015/10/Arrow-Back-3-icon.png"/></label>
            <label for="slide3" class="arrow arrow-next-slide"><img class="carousel-img-arrow" src="https://ru.seaicons.com/wp-content/uploads/2015/10/Arrow-Forward-2-icon.png"/></label>
        </li>

        <li class="carousel-item carousel-post">
            <h1 class="post-title">Title1</h1>
            <div class="parent-post-text">
                <p class="post-text">
                    3
                    Types are optional, and type inference allows a few type
                    annotations to make a big difference to the static verification of your code.
                    Types let you define interfaces between software components and gain insights
                    into the behavior of existing JavaScript libraries.
                </p>
            </div>

            <label for="slide2" class="arrow arrow-previous-slide"><img class="carousel-img-arrow" src="https://ru.seaicons.com/wp-content/uploads/2015/10/Arrow-Back-3-icon.png"/></label>
        </li>
    </ul>

    <ul class="carousel-labels">
        <li class="carousel-label">
            <label for="slide1"></label>
        </li>
        <li class="carousel-label">
            <label for="slide2"></label>
        </li>
        <li class="carousel-label">
            <label for="slide3"></label>
        </li>
    </ul>
</div>