.carousel-wrapper {
  min-width: 250px;
  width: 27%;
  height: 380px;
  position: relative;
  outline: 2px solid transparent;
  transition: outline-offset .5s ease-out, outline .5s ease-out;
  -o-transition: outline-offset .5s ease-out, outline .5s ease-out;
  -ms-transition: outline-offset .5s ease-out, outline .5s ease-out;
  -moz-transition: outline-offset .5s ease-out, outline .5s ease-out;
  -webkit-transition: outline-offset .5s ease-out, outline .5s ease-out;
  overflow: hidden;
  line-height: 25px;
  background: #ffffff;
  margin: 30px 19/6% 10px 19/6%;
  cursor: pointer;
  word-wrap: break-word;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: absolute;
  height: 100%;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.carousel-controls {
  position: absolute;
  z-index: 3;
  background: #ffffff;
  opacity: 0.1;
  display: inline-block;
  width: 20px;
  height: 100%;
  color: #fff;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 3;
}

.dots-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 4;
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
}

.active-dot, .dot:hover {
  background-color: #717171;
}

.carousel-item {
  font-size: 40px;
  box-sizing: border-box;
  background: #ffffff;
  background-size: cover;
}

.arrow-next-btn {
  right: 0;
}

.arrow-previous-btn {
  left: 0;
}

.arrow-previous-img {
  left: 0;
  padding-left: 10px;
}

.arrow-next-img {
  right: 0;
  padding-right: 10px;
}

.carousel-controls :focus {
  outline: none;
}

.carousel-img-arrow {
  position: absolute;
  top: 170px;
  width: 25px;
  height: 25px;
}

.carousel-wrapper:hover {
  outline: 2px solid #b0b2b1;
  outline-offset: 5px;
}

.carousel-items .parent-post-text::after {
  height: 0.5em;
}

@media screen and (max-width: 655px) {
  .carousel-img-arrow{
    top: 225px;
  }
  .carousel-wrapper {
    height: 500px;
    width: 95%;
  }
}

@media screen and (max-width: 1050px) and (min-width: 655px)  {
  .carousel-wrapper {
    width: 43.6%;
  }
}

.carousel-controls:hover {
  opacity: 1;
}