.carousel-wrapper {
  min-width: 250px;
  width: 27%;
  height: 380px;
  position: relative;
  outline: 2px solid transparent;
  transition: outline-offset .5s ease-out, outline .5s ease-out;
  -o-transition: outline-offset .5s ease-out, outline .5s ease-out;
  -ms-transition: outline-offset .5s ease-out, outline .5s ease-out;
  -moz-transition: outline-offset .5s ease-out, outline .5s ease-out;
  -webkit-transition: outline-offset .5s ease-out, outline .5s ease-out;
  overflow: hidden;
  line-height: 25px;
  background: #ffffff;
  margin: 30px 19/6% 10px 19/6%;
  cursor: pointer;
  word-wrap: break-word;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.showing {
  opacity: 1;
  z-index: 2;
}

.carousel-controls {
  position: absolute;
  z-index: 3;
  background: #ffffff;
  opacity: 0;
  display: inline-block;
  width: 20px;
  height: 100%;
  color: #fff;
  padding: 20px 20px;
  font-size: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}

.carousel-item {
  font-size: 40px;
  box-sizing: border-box;
  background: #ffffff;
  background-size: cover;
}

.arrow-next-slide {
  right: 0;
}

.arrow-previous-slide {
  left: 0;
}

.carousel-previous-arrow {
  position: absolute;
  top: 170px;
  left: 0;
  padding: 0 0 0 10px;
}

.carousel-next-arrow {
  position: absolute;
  top: 170px;
  right: 0;
  padding: 0 10px 0 0;
}

.carousel-controls :focus {
  outline: none;
}

.carousel-img-arrow {
  width: 25px;
  height: 25px;
}

.carousel-wrapper:hover {
  outline: 2px solid #b0b2b1;
  outline-offset: 5px;
}

.carousel-items .parent-post-text::after {
  height: 0.5em;
}

@media screen and (max-width: 600px) {
  .carousel-wrapper {
    height: 500px;
    width: 95%;
  }
}

.carousel-controls:hover {
  opacity: 1;
}