<header>
    <div class="header-container">
        <div class="text-logo">LOGO</div>
        <div class="lang-container">
            <!--<img class="img-language" src="../../imgs/world.png"/>-->
            <span class="text-lang">Lang:</span>
            <a href="" class="text-en">en</a>
        </div>
    </div>
</header>
