<header>
    <div class="header-container">
        <div class="text-logo">LOGO</div>
        <div class="popup-menu-container">
            <popup-trigger>
                <button data-menu-btn class="popup-btn"></button>
            </popup-trigger>
            <popup-menu class="elements-wrapper">
                <a data-menu-item="1" class="active-menu-item">en</a>
                <a data-menu-item="2">rus</a>
                <a data-menu-item="3">do</a>
            </popup-menu>
        </div>
    </div>
</header>
