.slide-carousel {
  position: relative;
  background: var(---post-color);
  width: 100%;
  overflow: hidden;
  [data-slide-item] {
    display: none;
    flex-direction: column;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    background-size: cover;
    background: var(--post-color);
    left: 0;
  }

  .carousel-controls {
    display: inline-block;
    position: absolute;
    width: 11.5%;
    height: 100%;
    z-index: 3;
    background: var(--post-color);
    opacity: 0.1;
    transition: opacity 0.3s ease-in;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    &:hover {
      opacity: 1;
    }
    &:focus {
      outline: none;
    }
  }

  .carousel-dot {
    display: inline-block;
    height: 15px;
    width: 15px;
    background-color: var(--carousel-dots-color);
    transition: background-color 0.6s ease;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    &:hover {
      background-color: var(--carousel-active-dot-color);
    }
  }

  .carousel-dots-wrapper {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 4;
    bottom: 0;
    margin-bottom: 15px;
  }

  .active-slide {
    display: flex;
    opacity: 1;
    z-index: 2;
  }

  .active-dot {
    background-color: var(--carousel-active-dot-color);
  }

  .arrow-next-btn {
    right: 0;
    text-align: right;
    &:hover {
      background-image: linear-gradient(to right, #fff, rgba(184, 184, 184, 0.15));
    }
  }

  .arrow-previous-btn {
    left: 0;
    text-align: left;
    &:hover {
      background-image: linear-gradient(to left, #fff, rgba(184, 184, 184, 0.15));
    }
  }

  .left {
     animation: move-to-left 1s ease-in-out;
     display: flex;
   }

  &[direction="left"] .prev {
    animation: move-to-current-left 1s ease-in-out;
    display: flex;
  }

  .right {
    animation: move-to-right 1s ease-in-out;
    display: flex;
  }

  &[direction="right"] .prev {
    animation: move-to-current-right 1s ease-in-out;
    display: flex;
  }

  @keyframes move-to-left {
    from {
      left: 100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes move-to-current-left {
    from {
      left: 0;
    }
    to {
      left: -100%;
    }
  }

  @keyframes move-to-right {
    from {
      left: -100%;
    }
    to {
      left: 0;
    }
  }

  @keyframes move-to-current-right {
    from {
      left: 0;
    }
    to {
      left: 100%;
    }
  }
}

