{{> Header}}
<main>
    <div class="main-container">
        <div class="posts-row">
            {{> Post}}
            <article class="post">
                <div class="post-title">Title2</div>
                <div class="post-text">Text2</div>
                <a class="text-read-more" href="">Read more</a>
            </article>
            <article class="post">
                <div class="post-title">Title3</div>
                <div class="post-text">Text3</div>
                <a class="text-read-more" href="">Read more</a>
            </article>
        </div>
        <div class="posts-row">
            <article class="post">
                <div class="post-title">Title1</div>
                <div class="post-text">Text1mlkgnfggggggggggggggggggggggg
                    ggggggggggggggggggggggggggggggg
                </div>
                <a class="text-read-more" href="">Read more</a>
            </article>
            <article class="post">
                <div class="post-title">Title2</div>
                <div class="post-text">Text2</div>
                <a class="text-read-more" href="">Read more</a>
            </article>
            <article class="post">
                <div class="post-title">Title3</div>
                <div class="post-text">Text3</div>
                <a class="text-read-more" href="">Read more</a>
            </article>
        </div>
    </div>
</main>
{{> Footer}}
</body>