<article class="post">
    <h1 class="post-title">Title1</h1>
    <p class="post-text">Text1mlkgnfggggggggggggggggggggggg
        ggggggggggggggggggggggggggggggg4566
    </p>
    <a class="text-read-more" href="/readmore">Read more</a>
</article>