<article class="post">
    <div class="post-title">Title1</div>
    <div class="post-text">Text1mlkgnfggggggggggggggggggggggg
        ggggggggggggggggggggggggggggggg4566
    </div>
    <a class="text-read-more" href="/readmore">Read more</a>
</article>