<article class="post">
    <div class="post-title">Title1</div>
    <div class="post-text">Text1mlkgnfggggggggggggggggggggggg
        ggggggggggggggggggggggggggggggg
    </div>
    <a class="text-read-more" href="">Read more</a>
</article>