<div class="layers-wrapper">
    <div class="layer" id="layer-1"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer"></div>
    <div class="layer" id="layer-5"></div>
</div>