<div class="popup-menu-container">
    <dropdown-input class="trigger-wrapper">
        <button data-popup-btn="1" class="popup-btn">Lang: en</button>
    </dropdown-input>
    <dropdown-menu data-popup-content class="elements-wrapper">
        <a data-menu-item="1" class="active-menu-item" tabindex="0">en</a>
        <a data-menu-item="2" tabindex="0">rus</a>
        <a data-menu-item="3" tabindex="0">do</a>
    </dropdown-menu>
</div>