html,
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f5f7f9;
}

header {
  background: #071c2c;
  color: #ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-container {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  .img-language {
    display: none;
  }
  .text-logo {
    display: flex;
    align-items: center;
    margin-left: 40px;
  }
  .lang-container {
    margin-right: 50px;
    display: flex;
    align-items: center;
  }
  .text-en {
    text-decoration: none;
  }
}

main {
  flex-grow: 1;
}

.main-container {
  height: 100%;
  flex: 1 0 auto;
  display: flex;
}

.post {
  background: #ad9469;
  margin: 30px 40px 10px 40px;
  position: relative;
  width: 350px;
  height: 280px;
  word-wrap: break-word;
  .post-text {
    padding: 5px 15px 15px 15px;
    color: #ffffff;
    font-size: 15px;
  }
  .post-title {
    padding: 15px 15px 5px 15px;
    font-size: 20px;
    color: #ffffff;
  }
  .text-read-more {
    position: absolute;
    bottom: 0;
    padding: 15px 15px 15px 15px;
  }
}

footer {
  flex-shrink: 0;
  background: #071c2c;
  color: #ffffff;
  height: 50px;
}

.footer-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  flex: 1 0 auto;
  .footer-space {
    width: 250px;
  }
  .footer-text {
    display: flex;
    align-items: center;
  }
  .footer-feedbook {
    width: 250px;
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 1000px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .header-container {
    margin-left: 20px;
    margin-right: 20px;
    .text-logo {
      margin-left: 0;
    }
    .lang-container {
      margin-right: 0;
    }
    .img-language {
      display: inline;
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
    .text-lang {
      display: none;
    }
  }

  .post {
    width: 95%;
    height: 500px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    .footer-space {
      display: none;
    }
    .footer-feedbook {
      text-align: center;
    }
  }
}

