<template id="video-popup-template">
    <popup-menu data-popup-content class="">
        <ul>
            <li><a href="javascript: void 0" data-menu-item="1" class="active-menu-item">en</a></li>
            <li><a href="javascript: void 0" data-menu-item="2">rus</a></li>
            <li><a href="javascript: void 0" data-menu-item="3">do</a></li>
        </ul>
    </popup-menu>
</template>